

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TESLA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="modelx" text-alignment=center>Model X <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="models">Model S</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="model3">Model 3</a>
      </li>

            <li class="nav-item">
        <a class="nav-link" href="#">ROADSTER</a>
      </li>

            <li class="nav-item">
        <a class="nav-link" href="#">ENERGY</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="data-binding">Angular Data-Binding & Service</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"href="signup">Sign Up</a>
      </li>



    </ul>
  </div>
</nav>

