<div class="carousel-item active">
    <img class="d-block w-100" src="../assets/tesla5.jpg" alt="First slide">


   <p>Model S Specifications</p> 
   <li>Length 196.0"</li>
   <li>Wheelbase 116.5"</li>
   <li>Width 86.2"</li>
   <li>With mirrors folded 77.3"</li>
   <li>Track Front 65.4", Rear 66.9"</li>
   <li>Clearance 4.6" - 6.3"</li>

<li> Head room Front 38.8", Rear 35.3"</li>
<li>Leg room Front 42.7", Rear 35.4"</li>
<li>Shoulder room Front 57.7", Rear 55.0"</li>
<li>Hip room Front 55.0", Rear 54.7"</li>
<li>Seating capacity 5 adults</li>
<li>Total cargo volume 31.6 cu ft</li>
<li>Rear cargo volume 26.3 cu ft</li>
<li>With seats down 58.1 cu ft</li>





<li>Front trunk cargo volume 5.3 cu ft</li>
<li>Turning circle 37 ft</li>
  <li>Curb weight 4,647.3 lbs</li>
<li>Weight distribution Front 48%, Rear 52%</li>
<li>Body</li>










<p>Lightweight aluminum body reinforced with high strength, boron steel elements.

UV and infrared blocking safety glass windshield.
Frameless, tempered safety glass front windows.
Solar absorbing, laminated safety glass rear window with defroster.
Flush mounted door handles
Power folding, heated side mirrors with memory
19" aluminum alloy wheels with all-season tires</p>
Glass roof
LED fog lights
Three-position dynamic LED turning lights
LED daytime running lights
Backlit side turn signals, front side marker lights and rear reflex lights
LED rear taillights and high-mounted LED stop lamp
Powertrain

75 kWh or 100 kWh microprocessor controlled, lithium-ion battery
Three phase, four pole AC induction motor with copper rotor
Drive inverter with variable frequency drive and regenerative braking system
Suspension, Steering, and Brakes

Smart air suspension with GPS memory for automatically raising and lowering ride height
Double wishbone, virtual steer axis front suspension and independent multi-link rear suspension
Variable ratio, speed sensitive electronic power steering
Electronic traction and stability with integrated vehicle dynamics control
Anti-Lock disc brakes (ABS) with ventilated rotors and electronically actuated parking brake
Charging

Supercharger enabled
Compatible with Tesla Wall Connector
20 foot mobile connector with storage bag
Automatic charge port door, concealed in rear driver side tail lamp
240 volt NEMA 14-50 adapter
120 volt NEMA 5-15 adapter
J1772 public charging adapter
Interior

Twelve way, power adjustable, heated front seats with memory
Hand wrapped microfiber and synthetic leather interior surfaces in black
Dark Ash Wood décor accents
Center armrest with two cup holders
Open center console storage area
Metal interior door handles
Auto dimming mirrors
Soft LED ambient interior lighting
60/40 split fold-down second row seats
200 watt, seven speaker stereo system with AM/FM/HD radio. Supports MP3, AAC, and MP4 music formats. System includes four speakers, two tweeters and one center channel speaker.
Instrumentation

17" capacitive touchscreen with media, communication, cabin, and vehicle controls
Bluetooth wireless technology for hands-free calling and streaming music
Three spoke, multi-function steering wheel with tactile controls
Tire pressure monitoring system
Warranty

4 year, 50,000 mile (whichever comes first) new vehicle limited warranty
8 year, unlimited mile battery and drive unit warranty
Battery warranty covers damage from improper charging procedures and battery fire, even if the fire results from driver error
Convenience

Onboard maps and navigation with free updates for 7 years
Mobile connectivity
Keyless entry
Driver profiles
Driver seat detection sensor for start/stop functionality
Cruise Control
High definition backup camera
Power liftgate
Power tilt and telescopic steering column
Power windows featuring one-touch up and down with resistance reversing to protect against pinched fingers
Micro-filter ventilation system with replaceable filters
Front LED map lights and rear LED reading lights
Front sun visors
Front trunk and rear cargo area with keyless open
12 V power outlet
Automatic climate control with dual zone temperature settings, air distribution controls and recirculation
Glove compartment
Wi-Fi ready
Dual front USB ports for media and power
Safety

Active safety technologies, including collision avoidance and automatic emergency braking, have begun rolling out through over-the-air updates
Eight airbags: head, knee and pelvis airbags in the front plus two side curtain airbags
Driver and front passenger seat sensors
Driver seat position sensor
Three point driver and front passenger safety belts with retractor pretensioners and secondary lap anchor pretensioners and load limiters
Three point second row safety belts for all three seats
Acoustic front row safety belt warning
Rollover crash sensor
Crash sensor for high voltage disconnect
Three second row LATCH attachments for child seat installations (accommodates three child seats simultaneously: two with LATCH and one with top tether and belt)
Rear door child safety locks
Interior, manual release mechanism for all doors, front trunk, and rear cargo area
Anti-theft alarm and immobilizer system
Model S is not equipped with a spare tire.
Spare tires add weight which reduces range. In the event of a flat, please contact Tesla roadside assistance. Emergency tire inflation kits are available for purchase.
  </div>